version: '3.8'

services:
  front:
    image: sermalenk/skypro-front:lesson-36
    ports:
     - "80:80"
    depends_on:
      - api

  api:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
    env_file: .env
    environment:
      DB_HOST: postgres

  migrations:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    env_file: .env
    environment:
      DB_HOST: postgres
    command: python manage.py migrate

  postgres:
    image: postgres:15.1-alpine
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME} "]
      interval: 5s
      timeout: 5s
      retries: 15
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
